<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="Triangle">
        <constructor-arg name="pointA" ref="point-0" />
        <constructor-arg name="pointB" ref="pointB" />
    </bean>

    <bean id="point-0" class="Point" scope="prototype">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>

    <bean id="pointB" class="Point">
        <property name="x" value="0" />
        <property name="y" value="11" />
    </bean>

    <bean id="pointC" class="Point">
        <property name="x" value="0" />
        <property name="y" value="-20" />
    </bean>

    <bean id="pointX" class="Point">
        <property name="x" value="30" />
        <property name="y" value="-20" />
    </bean>

    <bean id="person" class="Person" scope="prototype">
        <constructor-arg name="name" value="deepak" />
        <constructor-arg name="address" ref="address" />
    </bean>

    <bean id="address" class="Address">
        <constructor-arg name="street" value="indira nagar" />
        <constructor-arg name="pincode" value="123456" />
    </bean>
</beans>