<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="triangle" class="Triangle" name="t1,t2">
        <property name="pointA" ref="origin"></property>
        <property name="pointB">
            <bean class="Point">
                <property name="x" value="0" />
                <property name="y" ref="measurement" />
            </bean>
        </property>
        <property name="pointC">
            <bean id="inner-bean" class="Point">
                <property name="x" value="0" />
                <property name="y" value="-20" />
            </bean>
        </property>
    </bean>

    <bean id="origin" class="Point">
        <property name="x" value="0" />
        <property name="y" value="0" />
    </bean>

    <bean id="measurement" class="java.lang.Integer">
        <constructor-arg value="11" />
    </bean>

    <alias name="triangle" alias="shape"/>
    <alias name="t1" alias="s1"/>
</beans>